@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa89fbd7808d1028be_CircularPREWeb-Light.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa43a59d77b515eb83_CircularPREWeb-Light.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aad802d6bfde871c6f_CircularPREWeb-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aafea9a3f61fd6969c_CircularPREWeb-Medium.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa957e0a59d42c6f0c_CircularPREWeb-Medium.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aad802d637d0871c6e_CircularPREWeb-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa89fbd7618b1028bf_CircularPREWeb-LightItalic.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa9d75513910c7c961_CircularPREWeb-LightItalic.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa957e0afd4d2c6f0b_CircularPREWeb-LightItalic.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa5836db3c7fbad7ac_CircularPREWeb-MediumItalic.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa5836db8a1dbad7ab_CircularPREWeb-MediumItalic.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aad802d66c1c871c6d_CircularPREWeb-MediumItalic.woff')
      format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa89fbd75e841028c0_CircularPREWeb-BookItalic.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa43a59d09d215eb86_CircularPREWeb-BookItalic.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa0c4ef4d5d1faccda_CircularPREWeb-BookItalic.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aafea9a34ac3d6969e_CircularPREWeb-BoldItalic.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa43a59d2ed815eb87_CircularPREWeb-BoldItalic.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa0c4ef4b5b1faccdb_CircularPREWeb-BoldItalic.woff')
      format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb book';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aafea9a31b11d6969d_CircularPREWeb-Book.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aaa7eca17b6491fadd_CircularPREWeb-Book.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa89fbd7eca21028c1_CircularPREWeb-Book.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aad802d6fd17871c70_CircularPREWeb-Bold.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001ab0c4ef4cd20faccdc_CircularPREWeb-Bold.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aa957e0a62942c6f0e_CircularPREWeb-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001ab5836db7d91bad7ad_CircularPREWeb-BlackItalic.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001ab89fbd742c41028c2_CircularPREWeb-BlackItalic.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001abd802d61d2c871c71_CircularPREWeb-BlackItalic.woff')
      format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Circularpreweb';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aba7eca1411e91fade_CircularPREWeb-Black.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001aba7eca1fe5191fadf_CircularPREWeb-Black.eot')
      format('embedded-opentype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e8001abdc54452104efe39e_CircularPREWeb-Black.woff')
      format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72d3ada927a3a_Inter-Bold.woff')
      format('woff'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72d911e927a35_Inter-Bold.ttf')
      format('truetype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72d3931927a36_Inter-Bold.otf')
      format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72dc9b7927a32_Inter-Medium.woff')
      format('woff'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72d253a927a34_Inter-Medium.ttf')
      format('truetype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72d5f4f927a33_Inter-Medium.otf')
      format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72d67cf927a37_Inter-SemiBold.woff')
      format('woff'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72d7bb8927a39_Inter-SemiBold.ttf')
      format('truetype'),
    url('https://uploads-ssl.webflow.com/5e7290a0918847690e2e4c1f/5e7290a0edd72d49b0927a38_Inter-SemiBold.otf')
      format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
