$padding-blocks: 50;

@mixin generate-padding() {
  @for $i from 0 through $padding-blocks {
    /* Pixels */
    .p#{$i} {
      padding: $i + px;
    }

    .pt#{$i} {
      padding-top: $i + px;
    }

    .pr#{$i} {
      padding-right: $i + px;
    }

    .pb#{$i} {
      padding-bottom: $i + px;
    }

    .pl#{$i} {
      padding-left: $i + px;
    }

    .px#{$i} {
      padding-left: $i + px;
      padding-right: $i + px;
    }

    .py#{$i} {
      padding-bottom: $i + px;
      padding-top: $i + px;
    }
  }
}

@include generate-padding();
